<div class="interactive">
	<div class="subTitle main-col">
		Entity types
		<div class="key">
		
			<ul> 
				<li class='keyDiv'>
					<span class='keyCircle' style="background: #005689"></span> 
					<span class='keyText'>Liberal party</span>
				</li>
				<li class='keyDiv'>
					 <span class='keyCircle' style="background: #aad8f1"></span> 
					 <span class='keyText'>National party</span>
				</li>
				<li class='keyDiv'>
					 <span class='keyCircle' style="background: #b51800"></span> 
					 <span class='keyText'>Labor party</span>
				</li>
				<li class='keyDiv'>
					 <span class='keyCircle' style="background: #298422"></span> 
					 <span class='keyText'>The Greens</span>
				</li>
				<li class='keyDiv'>
					 <span class='keyCircle' style="background: #767676"></span> 
					 <span class='keyText'>Minor party</span>
				</li>
				<li class='keyDiv'>
					 <span class='keyCircle' style="background: #fc8d62"></span> 
					 <span class='keyText'>Associated entity</span>
				</li>
				<li class='keyDiv'>
					 <span class='keyCircle' style="background: #66c2a5"></span> 
					 <span class='keyText'>Donor</span>
				</li>
			<ul>
			
			

				

		</div>

		Money transfer types

		<div class="key">
			<ul>
				<li class='keyDiv'>
					<span class='keyFilledCircle' style="border: 2px solid #b82266;"></span> 
					<span class='keyText'>Donation</span>
				</li>
				<li class='keyDiv'>
					 <span class='keyFilledCircle' style="border: 2px solid #005689;"></span> 
					 <span class='keyText'>Other receipt</span>
				</li>
				<li class='keyDiv'>
					 <span class='keyFilledCircle' style="border: 2px solid #767676;"></span> 
					 <span class='keyText'>Mixed/Subscription/Other</span>
				</li>
			</ul>	
		</div>	

		<div id="selectorContainer">Currently showing: <select id="partySelector"></select>
		</div>						
	
	</div>	

	
	<div class='graphicContainer'>
		<div id="graphic" class="chartSans">
	
			<div class='chartTitle' id="chartTitle"></div>
		</div>  
	</div>
</div>

