<div class="interactive-container">
	<div class="header gv-layout-flex row">
		<div class='gv-flex-3'>
			<h1>Lobbying in Australia: how big business connects to government</h1>
			<div class="standFirst">Who are the lobbyists preferred by Apple and KFC? Why do corporate heavyweights like McDonald’s, AMP, LendLease and Amazon engage two lobbyist firms at once? And which firms have their ties to government hidden under Australia’s flawed transparency regime?
			</div>
			<p class="chartSans" style="margin-top:10px;"><b>Note:</b> this data is based on the lobbyist's register from July 2018, and the register is frequently updated. <a href="https://lobbyists.pmc.gov.au/">Check here for the most recent information</a></p>
			<div class="gv-byline row">
				<a href="http://www.theguardian.com/profile/nick-evershed" class="left">Nick Evershed</a> and <a href="https://www.theguardian.com/profile/christopher-knaus">Christopher Knaus</a>
				<div class="shareButtons right">
					<button class="interactive-share" data-network="facebook"></button>
        			<button class="interactive-share" data-network="twitter"></button>
				</div>	

			</div>
			<div class="scrollSymbol center">
				<div class="center chartSans">Scroll down</div>
				<div id="scrollDown" class="center"></div>
			</div>
		</div>
	</div>
	<div id='container1' class='row'>
		

		<div class='graphicCol' id="graphicCol">
			<div class='graphicContainer'>
				<div id="graphic" class="chartSans">
					<div id="infoButton"></div>
					<div id="keyPanel">
							<div class='key subTitle'>
								Entity types
								<ul>
								<li class='keyDiv'>
									 <span class='keyCircle' style="background: #66c2a5"></span> 
									 <span class='keyText'>Lobbyist</span>
								</li>
								<li class='keyDiv'>
									 <span class='keyCircle' style="background: #fc8d62"></span> 
									 <span class='keyText'>Government-linked lobbyist</span>
								</li>
								<li class='keyDiv'>
									 <span class='keyCircle' style="background: #aad8f1"></span> 
									 <span class='keyText'>Client</span>
								</li>							

							</div>	
	
					</div>	
					<div class='chartTitle' id="chartTitle"></div>
					<div id="loading">Loading...</div>
				</div>  
			</div>
		</div> 


		<div class='sectionCol'>  
			<div id='sections' class='gv-layout-flex'>
				<div class="scrollerSection" style="height:1px;">
				</div>

				<div class="scrollerSection">
					<a href="#0" id="no0"></a>
					<div class='gv-flex-3'>
						<p>There’s only so much information available on Australia’s largely opaque lobbying system. It takes time, effort, and the right tools to wade through the federal lobbyist register and join the dots. So, we have extracted the data, broken it down, and reshaped into something digestible.</p>
						<p>Here we’ll show you just how Australia's <span class="donor">218 lobbyist firms</span> tend to operate. The firms shown below are sized by the number of clients they have. The bigger the circle, the larger the firm.</p>
						<p><span class="chartSans"><b>Tip:</b> mouseover or tap circles to see names</span><p>
					</div>
				</div>

				<div class="scrollerSection">
					<a href="#1" id="no1"></a>
					<div class='gv-flex-3'>
						<p>There's quite a lot the lobbyist register doesn’t tell us. It doesn’t tell us precisely which lobbyist is lobbying who. We don’t know what clients are lobbying about, or when they may have be actively meeting with ministers. We are also blind to the actions of in-house lobbyists or peak interest groups.</p>
						<p>The lobbyist register also hides the links many individuals have to government. That’s because lobbyists are only required to declare as <span class='assEnt'>former government representatives</span> if they were a federal minister, ministerial staffer, parliamentary secretary, public servant or defence force member.</p>
						<p>You can see below how many <span class='assEnt'>firms</span> employ lobbyists that meet that narrow definition.</p>
					</div>
				</div>

				<div class="scrollerSection">
					<a href="#2" id="no2"></a>
					<div class='gv-flex-3'>
						<p>This hides people with significant histories in government, including state premiers or ministers, state political staffers, federal opposition or backbench staffers. Guardian Australia went through the backgrounds of all 483 lobbyists and found an extra 75 individuals who had government links, but were not declared as such on the register.</p>
						<p>You can see below how many more firms are revealed to <span class='assEnt'>have links to government</span>.</p>
					</div>
				</div>

				<div class="scrollerSection">
					<a href="#3" id="no3"></a>
					<div class='gv-flex-3'>
					<p>Two of the largest lobbying firms in Australia are <span class='assEnt'>Barton Deakin</span> and <span class='assEnt'>Hawker Britton</span>. You can see below there’s a significant overlap between the two. Roughly 15 companies engage both Barton Deakin and Hawker Britton, including tech giant Amazon, fast food chain McDonalds, and engineering and development multinational LendLease.</p>
					<p>Understanding the firms’ background goes a long way in explaining why big companies would hire lobbyists from both. Hawker Britton is traditionally associated with Labor and its staff are largely ex-Labor advisers, politicians, or party officials.</p>
					<p>On the other side, Barton Deakin is more closely aligned with the Liberals, staffed by a former chief of staff to Joe Hockey and adviser to John Howard, among others.</p>
					</div>
				</div>

				<div class="scrollerSection">
					<a href="#4" id="no4"></a>
					<div class='gv-flex-3'>
					<p>Some lobbying firms tend to specialise in working for a particular industry. There are defence-focused lobbyists, or those who work for energy, mining, and resources companies.</p>
					<p>Big pharmaceutical players are one of the big buyers of lobbyist services. We identified almost 70 pharmaceutical or health companies currently engaging lobbyists.</p>
					<p>One of the firms specialising in this area is <span class="donor">opr Health</span>, a broader health communications consultancy that is registered to lobby, and has a separate public affairs business, <span class='assEnt'>Parker and Partners</span>. It boasts a former health minister adviser among its staff.</p>
					</div>
				</div>

				<div class="scrollerSection" id="lastSection">
					<a href="#8" id="no8"></a>
					<div class='gv-flex-3'>
					<p>There are similar stories right through the data, if you know where to look. We’ve added a function below that allows you to explore which company or organisation has hired which client. Use the filters to adjust which group of lobbyists and clients are shown in the dropdown menu, and update the chart by selecting a new firm or client.</p>
					<p><span class="chartSans">Filter lobbyist selection menu:</span></p>
					<p class="lobbyist_buttons"><span class='btn btn_selected' data-filterkey="interesting" data-filterby="y">interesting</span> <span class='btn' data-filterkey="govLink" data-filterby="govLink">government link</span> <span class='btn' data-filterkey="showall" data-filterby="showall">show all</span></p>
					<p><span class="chartSans">Make chart with lobbyist:</span></p>
					<p><div class='subTitle selector selectorContainer'><select id="lobbyistSelector"></select></div></p>
					<p><span class="chartSans">Filter client selection menu:</span></p>
					<p class="client_buttons">
						<span class='btn btn_selected' data-filterkey="interesting" data-filterby="y">interesting</span>
						<span class='btn'  data-filterkey="category" data-filterby="Energy, mining, or natural resources">mining and resources</span>
						<span class='btn' data-filterkey="category" data-filterby="Banking, finance or business">banking and finance</span>
						<span class='btn' data-filterkey="category" data-filterby="Gambling and hospitality">gambling and hospitality</span>
						<span class='btn' data-filterkey="category" data-filterby="defence">defence</span>
						<span class='btn' data-filterkey="category" data-filterby="Pharmaceuticals or health">pharmaceuticals or health</span>
						<span class='btn' data-filterkey="category" data-filterby="Tech">tech</span>
						<span class='btn' data-filterkey="category" data-filterby="Insurance">insurance</span>
						<span class='btn ' data-filterkey="showall" data-filterby="showall">show all</span>
					</p>
					<p><span class="chartSans">Make chart with client:</span></p>
					<p><div class='subTitle selector selectorContainer'><select id="clientSelector"></select></div></p>
					</div>
				</div>

			</div>
		</div>  

 

	</div>

	<div id='gv-footer'> </div>
	 	<div class="footer" id="footer">
		<div class="credits_read_more"><h2>Read more</h2></div>
		<ul class="footer-grid">

			<li>
				<div class="footer-item-container">
					<a class="class="anchor" href="https://www.theguardian.com/australia-news/2018/jun/03/seeing-red-the-personal-feuds-and-party-splits-that-plague-the-senate" target="_blank">
					<img src="https://i.guim.co.uk/img/media/9afd91044592db296b55300b09a1d330f31833d3/0_0_4895_2938/master/4895.jpg?width=620&quality=85&auto=format&usm=12&fit=max&s=1354e8d0a4d8f60139d858cc3837f7bc">
					<div class="footer-text-content">
						<h2>'In the family': majority of Australia's lobbyists are former political insiders</h2>
					</div>
					</a>
				</div>
			</li>

			
			<li>
				<div class="footer-item-container">
					<a class="class="anchor" href="https://www.theguardian.com/australia-news/2018/sep/17/australias-lax-lobbying-regime-the-domain-of-party-powerbrokers" target="_blank">
					<img src="https://i.guim.co.uk/img/media/1f9bf4ebe91eed0b3dd423b55269129caeee9e9f/0_106_4131_2479/master/4131.jpg?width=620&quality=85&auto=format&usm=12&fit=max&s=cb0abf87cdafc78c69149695c373853c">
					<div class="footer-text-content">
						<h2>Australia's lax lobbying regime the domain of party powerbrokers</h2>
					</div>
					</a>
				</div>
			</li>

			<li>
				<div class="footer-item-container">
					<a class="class="anchor" href="https://www.theguardian.com/australia-news/2018/sep/18/defence-officials-turn-lobbyists-sometimes-weeks-after-leaving-government" target="_blank">
					<img src="https://i.guim.co.uk/img/media/11914f2ac067d1068042cbeb7b11a2b2703de757/0_0_4342_2895/master/4342.jpg?width=620&quality=85&auto=format&usm=12&fit=max&s=ecb6f7c3b8ccb7aeaa9eb90138127c99">
					<div class="footer-text-content">
						<h2>Defence officials turn lobbyists, sometimes weeks after leaving government</h2>
					</div>
					</a>
				</div>
			</li>

			<li>
				<div class="footer-item-container">
					<a class="class="anchor" href="https://www.theguardian.com/australia-news/2018/sep/18/not-a-single-lobbyist-punished-for-rule-breaches-in-five-years" target="_blank">
					<img src="https://i.guim.co.uk/img/media/53ec59f258587e91635cb57e0efeeccc2777ad7b/0_271_4813_2887/master/4813.jpg?width=620&quality=85&auto=format&usm=12&fit=max&s=9560b5dddb845356ea09c762a5048b7b">
					<div class="footer-text-content">
						<h2>Not a single lobbyist punished for rule breaches in five years</h2>
					</div>
					</a>
				</div>
			</li>

			

		</ul>
	</div>

</div>
